<div class="wrapper">
<div style="text-align: center">
    <h1>Programs</h1>
    <br>
    <ul>
        <%@programs.each do |program|%>
            <li><b><a href="/programs/<%=program.id%>"><%=program.name%></a> a <%=program.days_per_week%> days a week program by <a href="/user/<%=program.user.username%>"><%=program.user.username%></a></b></li>
            <br>
        <%end%>
    </ul><br><br>
    </div>
</div>