<h1><%=@program.name%></h2>
<h2>by <%=@program.user.username%></h2>
<ul>
<%@program.workouts.each do |workout|%>
    <h3><%=workout.day_of_week%></h3>
    <ul><%workout.exercises.each do |exercise|%>
        <li><%=exercise.name%> <%=exercise.sets%> x <%=exercise.reps%></li>
        <%end%>
    </ul>
<%end%>
    </ul>
    <br>
    <%if @program.user == current_user%>
        <form action="/programs/<%=@program.id%>/edit">
        <input type="submit" value="Edit Program" />
        </form>
        <form method="post" action="/programs/<%= @program.id %>">
        <input id="hidden" type="hidden" name="_method" value="DELETE">
        <input type="submit" value="Delete Program">
        </form>
    <%end%>
<div class="topnav">
  <a class="active" href="/">Home</a>
  <a href='/programs'>Programs</a>
  <a href="/programs/new">New Program</a>
  <a href='/user/<%=current_user.username%>'>My Profile</a>
</div>
