<div class="wrapper">
 <div style="text-align: center">
    <h1><%=@program.name%></h2>
    <h2>by <a href="/user/<%=@program.user.username%>"><%=@program.user.username%></a></h2>

    <ul>
    <%@program.workouts.each do |workout|%>
        <h3><%=workout.day_of_week%></h3>
        <ul><%workout.exercises.each do |exercise|%>
            <li><%=exercise.name%> <%=exercise.sets%> x <%=exercise.reps%></li>
            <%end%>
            <br>
        </ul>
    <%end%>
        </ul>
        <br>
        <%if @program.user == current_user%>
            <form action="/programs/<%=@program.id%>/edit">
            <input class="button" type="submit" value="Edit Program" />
            </form>
            <form method="post" action="/programs/<%= @program.id %>">
            <input id="hidden" type="hidden" name="_method" value="DELETE">
            <input class="button"  type="submit" value="Delete Program">
            </form>
        <%end%>
    </div>
</div>
